<app-layout>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Pedidos</mat-card-title>
      <mat-card-subtitle>Aquí podrás realizar nuevos pedidos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button
        mat-stroked-button
        color="primary"
        [routerLink]="['/products']"
        routerLinkActive="router-link-active"
      >
        Nuevo
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <form (ngSubmit)="buscarPedido()">
      <mat-card-header>
        <mat-card-title>Estado del pedido</mat-card-title>
        <mat-card-subtitle>Verifica el estado de tu pedido</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Buscar por <b>número de pedido</b></mat-label>
          <input
            matInput
            type="text"
            name="pedido"
            autofocus
            [(ngModel)]="nroPedido"
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-stroked-button color="primary" type="submit">Buscar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</app-layout>
