<mat-card class="example-card">
  <form (ngSubmit)="login()">
    <mat-card-header>
      <mat-card-title>Iniciar sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="form">
        <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" [(ngModel)]="userName" name="userName" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            [(ngModel)]="password"
            type="password"
            name="password"
          />
        </mat-form-field>

        <mat-divider></mat-divider>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-stroked-button color="primary" type="submit">Entrar</button>
      <button mat-button>Crear cuenta</button>
    </mat-card-actions>
    <mat-card-footer>
      @if (loading$ | async) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </mat-card-footer>
  </form>
</mat-card>
