<mat-list>
  <mat-list-item routerLink="{{ routes.home }}" routerLinkActive="active">
    <mat-icon>home</mat-icon> Inicio
  </mat-list-item>
  <mat-list-item routerLink="/orders" routerLinkActive="active">
    <mat-icon>list_alt</mat-icon> Pedidos
  </mat-list-item>
  <mat-list-item routerLink="" routerLinkActive="active">
    <mat-icon>border_all</mat-icon> Tables
  </mat-list-item>
  <mat-list-item routerLink="" routerLinkActive="active">
    <mat-icon>notifications_none</mat-icon> Notification
  </mat-list-item>
</mat-list>
